@import '../../styles/variables.module.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6rem;
  margin-top: 6rem;
}

.textSection {
  flex: 1;
  h1 {
    font-size: $font-size-xlarge;
    font-weight: $font-weight-bold;
    margin-bottom: 1rem;
    color: $color-black;
  }
  .description {
    font-size: $font-size-large;
    font-weight: $font-weight-light;
    margin-bottom: 2rem;
    color: $color-black;
  }
}

.imageSection {
  flex: 1;
  display: flex;
  justify-content: center;
  img {
    max-width: 100%;
    height: auto;
  }
}
