// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-gray: gray;
$color-gradient-start: #73E0A9;
$color-gradient-end: #5B68DF;
$color-blue: #5C6DDE;

// Font Sizes
$font-size-xxlarge: 64px;
$font-size-xlarge: 36px;
$font-size-large: 24px;
$font-size-medium: 22px;
$font-size-small: 18px;
$font-size-xsmall: 16px;

// Font Weights
$font-weight-bold: 700;
$font-weight-medium: 600;
$font-weight-regular: 500;
$font-weight-light: 400;
